@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main-content {
  flex-grow: 1;
  padding-top: var(--navbar-height);

  display: flow-root;
}

a {
  text-decoration: underline;
  color: var(--color-link-normal);
  padding: var(--padding-small);
}

.main-content > h1 {
  margin-top: var(--margin-small);
}

h1 {
  text-align: center;
}

.icon-svg {
  width: 20px;
  height: 20px;
  color: var(--color-text);
  flex-shrink: 0;
}

.icon-svg.small {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-link-text-hover);
    background-color: var(--color-link-background-hover);
    border-radius: var(--radius-default);
  }
}
