@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main-content {
  flex-grow: 1;
  padding-top: var(--navbar-height);

  display: flow-root;
}

a {
  text-decoration: underline;
  color: var(--color-link-normal);
  padding: var(--padding-small);
}

.main-content > h1 {
  margin-top: var(--margin-small);
}

h1 {
  text-align: center;
}

.icon-svg {
  width: 20px;
  height: 20px;
  color: var(--color-text);
  flex-shrink: 0;
}

.icon-svg.small {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.btn-outline {
  margin: 0.25rem 0.125rem;
  color: var(--color-gray-60);
  outline: 1px solid var(--color-gray-60);
  background-color: #0000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.6;
  font-weight: normal;
  box-sizing: border-box;
  font-size: var(--font-size-normal);
}

.btn-outline:hover {
  background-color: var(--color-gray-40);
  color: var(--color-white);
}

@media (hover: hover) {
  a:hover {
    color: var(--color-link-text-hover);
    background-color: var(--color-link-background-hover);
    border-radius: var(--radius-default);
  }
}
